.page-container {
  padding-top: 10px;
  height:100vh;
  overflow: scroll;
}

.page-wrapper {
  margin-top: 11vh;
}

.box-container {
  height:80vh;
}

.page-container-new {
padding-top: 10px;
  height:80vh;
  overflow: scroll;
}
