.post-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 30px;
  background: #f76f6f;
  font-family: 'Roboto';
}

.post {
  width: 500px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  background: white;
}


.pic {
  width: 450px;
  text-align: center;
  margin-top: 30px;
  height: 400px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.background-image {
  background-image: url("https://t2.salir.ltmcdn.com/es/places/4/5/4/img_128454_terraza-casa-suecia_0_600.jpg");
  margin-top: 25px;
  background-size: cover;
  height: 475px;
  background-position: center;
  opacity: 0.8;
}

