<%= simple_form_for [@terrace, @booking] do |f| %>

  <h5>Dates</h5>
  <!-- start_date and end_date -->
 <%= f.input :booking_start_date, as: :string, label: 'Start date', input_html: {class: "datepicker"} %>
 <%= f.input :booking_end_date, as: :string, label: 'End date', input_html: {class: "datepicker"} %>

  <!-- message to terrace owner -->

  <%= f.submit class: "btn btn-pink" %>

<% end %>
