<div class="photo" style="background-image: url('https://i.pinimg.com/originals/48/e4/e7/48e4e7b64a67b0c87ddd653a60561a25.jpg')">
  </div>

<div class="container d-flex mx-auto my-4">

  <div class="terrace-infos mr-3">
    <h1 class='title'>Your booking at <%= @terrace.title %> is confirmed!</h1>
  </div>
</div>
