<div class="notification">
  <i class="fas fa-angle-double-up" id="logo"></i>
  <p class='logo-content'>Ménage-à-toit</p>
  <div class="notification-content">
  </div>

  <div class="notification-actions">
    <a href="#"><i class="fas fa-home"></i><%= link_to "Become a host", new_user_registration_path%></a>
    <a href="#"><i class="fas fa-sign-out-alt"></i></a><%= link_to "Log-in", new_user_session_path%>
  </div>
</div>

