<div class="home-banner">

  <div class="justify-content-center ">
    <h1>It's all about the company</h1>
    <p> Find the perfect terrace to share with your close ones </p>

    <div class="form-group d-flex align-items-center">
      <i class="fas fa-search"></i>
      <div class="">
        <%= form_tag terraces_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control home-search-form",
            placeholder: "Search anywhere"
          %>
        <% end %>
      </div>
    </div>

  </div>
<!--   <div>
      <%= image_tag "white-down-arrow.png", width: 80, class: 'mt-1 banner-arrow' %>
  </div> -->
</div>

<div class="container w-100 mt-5">
  <div>
    <h2 class="text-center mb-5 home-card-header">Renting with Ménage-à-Toit</h2>
  </div>

  <div class="home-card-container d-flex justify-content-around">
    <!-- 24/7 customer support -->
    <div class="home-card" style="">
      <i class="fas fa-phone home-card-icon"></i>
      <div class="card-text">
        <h1>24/7 Customer Support</h1>
      </div>
    </div>
    <!-- hospitality standars -->
    <div class="home-card" style="">
        <i class="fas fa-concierge-bell home-card-icon"></i>
      <div class="card-text">
        <h1>Global Hospitality Standards</h1>
      </div>
    </div>
    <!-- five stars -->
    <div class="home-card d-flex flex-column  " style="">
      <div class="d-flex stars-container">
        <i class="fas fa-star home-card-stars"></i>
        <i class="fas fa-star home-card-stars"></i>
        <i class="fas fa-star home-card-stars"></i>
        <i class="fas fa-star home-card-stars"></i>
        <i class="fas fa-star home-card-stars"></i>
      </div>
      <div class="card-text">
        <h1>Five-Star Hosts</h1>
      </div>
    </div>
  </div>

</div>






