
<div class="home-banner">

  <div class="d-flex flex-row justify-content-center">
    <h1 class="banner-text">Find the perfect Terrace to &nbsp</h1>
      <h1 id="content-1" class="banner-text">reconnect with friends.</h1>
      <h1 id="content-2" class="banner-text">get lost in conversation.</h1>
      <h1 id="content-3" class="banner-text">find inspirational views.</h1>
      <h1 id="content-4" class="banner-text"></h1>
  </div>



  <div>
      <%= image_tag "white-down-arrow.png", width: 80, class: 'mt-1 banner-arrow' %>
  </div>
</div>



