.home-banner {
  background-image: url('https://images.unsplash.com/photo-1560528257-62549914d907?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80');
  background-size: cover;
  height: 95vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.banner-arrow {
  opacity: 0.5;
  padding-top: 25%;
}

.banner-text {
  color: #f76f6f;
  margin-top: -8rem;
}
