$dark-green: #84bc45;
$light-green: #b7e682;
$pink: #f66f6f;


.home-banner {
  // background-image: url('https://images.unsplash.com/photo-1560528257-62549914d907?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80');
  background-image: url('https://images.pexels.com/photos/988508/pexels-photo-988508.jpeg?cs=srgb&dl=tilt-lens-photography-of-black-wooden-table-988508.jpg&fm=jpg');
  background-size: cover;
  height: 87vh;
  text-align: center;
  padding-top: 35vh;

  h1 {
    color: $pink;
    font-size: 65px;

  }

  p {
    color: white;
    font-size: 30px;
  }
}


// .banner-arrow {
//   opacity: 0.5;
//   padding-top: 25%;
// }

.home-card-header {
  color:#7c7777;
  font-size: 25px;
}


.home-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin-bottom: 80px;
}

.home-card {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 200px;
  justify-content: center;
  padding-top: 16px;
  font-size: 32px;
  // text-shadow: 1px 1px 3px rgba(0,0,0,1);
  border-radius: 5px;
  // box-shadow: 0 0 5px rgba(0,0,0,0.1);
  text-align: center;
  color: #84bc45;
  overflow: hidden;
}

.home-card-icon {
  font-size: 35px;
  margin-top: 10px;
  color: #7c7777;
}

.stars-container {
  margin-top: 0px;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.home-card-stars {
  font-size: 30px;
  color: #7c7777;
}

.card-text {
  h1{
    color: #7c7777;
  }
}







