$dark-green: #84bc45;
$light-green: #b7e682;
$pink: #f76f6f;

// Primary button //
.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $pink;
  transition: background 0.3s ease;
  font-family: 'Roboto';
  font-weight: 500;

  &:hover {
  background: #E16565;
  color: white;
  }
}


// Secondary button (for terrace cards**)

.btn-green {
  color: $dark-green;
  background: $light-green;
  padding: 3px 10px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;

  &:hover {
    color: $dark-green;
    background: $light-green;
  }
}

