

.home-search-form {
  border-radius: 4px;
  text-align: center;
  width: 30%;
  height: 40px;
  border: none;
  background-color: white;
  margin: 24px auto;
  color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.home-search-form::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto";
}


