

.home-search-form {
  border-radius: 4px;
  width: 400px;
  height: 42px;
  border: none;
  background-color: rgba(200, 200, 200, 0.3);
  margin: 24px auto;
  color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: left;
}

.home-search-form::placeholder {
  color: white;
  font-family: "Roboto";
}


.form-group {
  width: 50%;
  margin: 0 35%;
}

.fa-search {
  background: rgba(200, 200, 200, 0.3);
  height: 45px;
  font-size: 28px;
  padding: 8px 8px;
  margin-right: 3px;
  border-radius: 4px;
  color: white;
}

.card-text {
  h1 {
    font-size: 15px;
  }
}
