// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// COLOR PALETTE //

$dark-green: #84bc45;
$light-green: #b7e682;
$pink: #f66f6f;

h1 {
  font-family: "Roboto";
  font-weight: 500;
}

h2 {
  font-family: "Roboto";
  font-weight: 500;
}

h3 {
  font-family: "Roboto";
  font-weight: 500;
}

p {
  font-family: "Roboto";
  font-weight: 300;
}
